body {
    margin: 0;
    padding: 0;
  
  }
  
  :host {
    display: block;
    margin-top: 1rem;
  }
  
  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aliceblue;
  }
  
  .image {
     height: 300px;
     width: 100%;
     align-self: center;
  }
  .price {
    font-size: 20px;
    font-weight: bold;
  
  }
  
  .header {
    /* background-image: url('../../../assets/db-logo-600w-620688317.jpg'); */
    background-size: cover;
    margin-bottom: 5px;
  }
  
  .title {
  position: absolute;
  left: 10px;
  }
  .description{
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .spinner {
    display: flex;
    justify-content: center;
  }
  
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
  
  .buyBtn {
    font-size: 20px;
  }
  
  .product {
    max-width: 350px;
    // max-height: 650px;
    height: 500px;
    margin: 15px 15px;
    align-items: center;
    align-content: center;
    display: flexbox;
    justify-content: center;
    background-color: cornsilk;
  }
  
  @media screen and (max-width: 320px) and (max-width: 359px) {
    .product {
      max-width: 200px;
      left: 20px
     }
  }
  
  @media screen and (min-width:360px) and (max-width: 419px) {
    .product {
      max-width: 250px;
      left: 20px;
     }
  }
  
  @media screen and (min-width:420px) and (max-width: 799px) {
    .product {
      max-width: 250px;
      left: 35px;
     }
  }
  
  @media screen and (min-width: 800px) and (max-width: 1000px){
    .list {
      margin:0;
      width: 100%;
    }
    .product {
     max-width: 250px;
    }
    * {
      max-width: 100%;
      overflow-x: hidden;
    }
  }
  
  
  @media screen and (min-width: 1001px) {
    .product {
      max-width: 400px;
     }
  }