<!-- 
<p>{{apod.title}}</p>
<p>{{apod.explanation}}</p>
<p>{{apod.url}}</p>
<p>{{apod.date}}</p> -->


<mat-card class="product" *ngIf="apod.title">
    <mat-card-header>
        <div mat-card-avatar class="header"></div>
        <mat-card-title class="title">{{apod.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{apod.url}}" class="image">
    <mat-card-content>
        <div class="description">{{apod.explanation}}</div>
    </mat-card-content>
    <mat-card-footer>
        <mat-card-actions class="footer">
            <!-- <button mat-button color="primary" class="buyBtn" (click)="openBuyDialog(product)">Buy Now</button> -->
            <p class="price">{{apod.date}}</p>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>