.container {
    display: flex;
    justify-content: center;
}
.autocompleteInput {
    width: 50%;
    height: 50px;
    
    // align-items: center;
    // align-self: center;
    // align-content: center;
    // text-align: center;

}