.form-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10px;
    align-items: baseline;
    margin: 15px;
}

.item {
    background: aliceblue;
    padding: 10px;
    
}